<div class="container">
  <app-cockpit
    (bookCreated)="onBookAdded($event)"
    (articleCreated)="onArticleAdded($event)"
  >
  </app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <app-element
        *ngFor="let element of elements"
        [element]="element">
        <p>
          <strong *ngIf="element.type === 'book'" style="color: red">{{ element.content }}</strong>
          <em *ngIf="element.type === 'article'">{{ element.content }}</em>
        </p>
      </app-element>
    </div>
  </div>
</div>
